/* qr animation {} */

/* body{
background-color: black;    
} */

.personal-card {
    padding: 15px 0;
    margin: 0 auto;
}

.containerses {
    width: 600px;
    height: 600px;
    background-color: transparent;
    position: relative;
    margin: 50px auto;
}

.containerses .infoes::after {
    content: "";
    background-color: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
}

.containerses .infoes img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -138px;
    margin-left: -125px;
    width: 250px
}



/* card animation {} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap ');
.note {
    width: 100vw;
    height: 100%;
    background: #F2ECFD;
    background-image: url('./Exports/how-it-works-bg.png ');
    background-size: cover;
    background-position: center center;
    padding: 0;
}

.note .Sec-title {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    color: #16003B;
    font-family: 'Rubik ', sans-serif;
    font-weight: 600;
}

.note .mazi-wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.note .sec-md-35 {
    width: 35%;
    margin-top: 0;
}

.note .sec-md-30 {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    z-index: 3;
}

.note .cards {
    position: relative;
    margin: auto;
    margin-top: 220px;
}

.note .cards .card {
    width: 75%;
    height: 150px;
    background: #fff;
    padding: 30px;
    margin-Top: 20px;
    border-radius: 10px;
    font-family: 'Rubik ', sans-serif;
    line-height: 24px;
}

.note .cards .card h2 {
    margin-top: 0;
}

.note .left-t {
    margin-left: 35%;
    opacity: 0;
    animation: 1s ease-out forwards 1 slideInFromLeft;
    animation-delay: 1.5s;
}

.note .left-b {
    margin-left: 65%;
    opacity: 0;
    animation: 1s ease-out forwards 1 slideInFromLeft;
    animation-delay: 6s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.note .right-t {
    margin-left: -4%;
    opacity: 0;
    animation: 1s ease-out forwards 1 slideInFromRight;
    animation-delay: 4s;
}

.note .right-b {
    margin-left: -34%;
    opacity: 0;
    animation: 1s ease-out forwards 1 slideInFromRight;
    animation-delay: 7s;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.note .all-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 100;
}

.all-path .no1,
.all-path .no2,
.all-path .no3,
.all-path .no4 {
    animation: 8s ease-out forwards infinite draw;
    opacity: 0;
}

.all-path .no2 {
    animation-delay: 3s;
}

.all-path .no3 {
    animation-delay: 4s;
}

.all-path .no4 {
    animation-delay: 5s;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
        opacity: 0;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}


.center {
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}

button.fancy {
-webkit-appearance: button;
background-color: transparent;
border: 2px solid #000;
border-radius: 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
float: right;
font-weight: 700;
letter-spacing: 0.05em;
margin: 0;
outline: none;
overflow: visible;
padding: 1.25em 2em;
position: relative;
text-align: center;
text-decoration: none;
text-transform: none;
transition: all 0.3s ease-in-out;
user-select: none;
width: 16.8125rem;
}
button.fancy::before {
content: " ";
width: 1.5625rem;
height: 2px;
background: black;
top: 50%;
left: 1.5em;
position: absolute;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transform-origin: center;
transform-origin: center;
-webkit-transition: background 0.3s linear, width 0.3s linear;
transition: background 0.3s linear, width 0.3s linear;
}
button.fancy a {
font-size: 1.125em;
line-height: 1.33333em;
padding-left: 2em;
display: block;
text-align: left;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
text-transform: uppercase;
text-decoration: none;
color: black;
}
button.fancy .top-key {
height: 2px;
width: 1.5625rem;
top: -2px;
left: 0.625rem;
position: absolute;
background: white;
-webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
transition: width 0.5s ease-out, left 0.3s ease-out;
}
button.fancy .bottom-key-1 {
height: 2px;
width: 1.5625rem;
right: 1.875rem;
bottom: -2px;
position: absolute;
background: white;
-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy .bottom-key-2 {
height: 2px;
width: 0.625rem;
right: 0.625rem;
bottom: -2px;
position: absolute;
background: white;
-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy:hover {
color: white;
background: black;
}
button.fancy:hover::before {
width: 0.9375rem;
background: white;
}
button.fancy:hover a {
color: white;
padding-left: 1.5em;
}
button.fancy:hover .top-key {
left: -2px;
width: 0px;
}
button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
right: 0;
width: 0;
}

